
:root {
    --primary-text: #ffaa00;
    --primary-bg: white;

    --secondary-text: black;
    --secondary-bg: black;

    --header-bg: white;
    --news-bg: white;
    --news: #black;
}

body {
    text-align: center;
    width: 100%;
}

/* NEW Styles */

.hover {

}
.hover:hover {
    opacity: .8;
    cursor: grab ;
    color:#ffaa00;
}
#link {
    text-decoration: none;
    color: inherit;
}
.link { 
    text-decoration: none;
    color: inherit;
}
.hoverNews {

}
.hoverNews:hover {
    background-color: rgb(245, 182, 55);
    border-radius: 10px;
    opacity: .9;
}
    