
body {
    text-align: center;
}
.header {
    display: flex;
    justify-content: space-evenly;
}
/* === Removing Link underline not working === */
link {
    text-decoration: none;
    color: inherit;
}
.cryptoSearch {
    font-size: 30px;
}
/* === Cryptocurrency Elements === */
.cardContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.currencyCard {
    border: 2px solid black;
    width: 175px;
    margin: 30px;
    border-radius: 10px;
}
.currencyCardDetails {
    border: 2px solid black;
    width: 175px;
    margin: 30px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

/* === News Elements === */
.newsContainer {
    border: 2px solid yellow;
    
    
}
/* === Business News Component === */
.businessNews{
    border: 2px solid black;
    
}
.newsCard {
    text-align: center;
}
#newsImg {
    width: 50%;
}
#newsTitle {
    
    display:block;
}

