
:root {
    --primary: #ffaa00;
    --primary-bg: white;

    --secondary: black;
    --secondary-bg: black;

    --header-bg: white;
    --news-bg: white;
    --news: #black;
}

body {
    text-align: center;
    width: 100%;
    color: var(--secondary);
    background-color: var(--secondary-bg);
}
.header {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    color: var(--secondary);
    background-color: var(--header-bg);
}

#titleColor{
    font-size: 2rem;
    width: 100%;
    color: var(--primary);
    text-shadow: 2px 2px;
}

.cryptoSearch {
    text-align: center;
    font-size: 2rem;
}
/* === Removing Link Styling === */

#title, #cardLink, #newsTitle, a {
    text-decoration: none;
    color: inherit;
}

/* === Cryptocurrency Card Elements === */

.cardContainer {
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
}
.cardDetailsContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
}

.currencyCard {
    width: 175px;
    margin: 30px;
    padding: 50px;
    border-radius: 10px;
    text-decoration: none;
    color: var(--secondary);
    background-color: var(--primary-bg);
    border: 10px solid grey;
}

.currencyCard:hover {
    border: 15px solid var(--primary);
    transition: 400ms;
    padding: 45px;
}
/* === Crypto Details Component === */
.currencyCardDetails {
    width: 25%;
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    padding: 50px;
    border-radius: 10px;
    text-decoration: none;
    color: var(--secondary);
    background-color: var(--primary-bg);
}
#cardTitle {
    color: var(--primary);
    text-shadow: 1px 1px black;
}
#positive {
    color: green;
  }
#negative {
    color: red;
    margin-top: 0px;
    padding-top: 0px;
  }
#marketSummary {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    color:var(--primary);
    background-color: (--primary);
}
#summaryTitle {
    color: var(--primary);
    font-size: 3rem;
}
#summaryText {
    font-size: 1.5rem;
    color: var(--primary-bg);
}

/* === Business News Component === */
.newsContainer {
    background-color: var(--news-bg);
}

.newsCard {
    text-align: center;
}
#newsImg {
    width: 60%;
    margin-top: 50px;
}
#newsImg:hover {
    width: 65%;
    transition: 500ms ease-in-out;
    transition-delay: 200ms;
}
#newsTitle {
    display:block;
    margin-bottom: 30px;
    color: var(--news);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
#mainNewsTitle {
    color: var(--news);
    font-size: 3rem;
    margin-top: 15px;
    margin-bottom: 15px;
}
