
:root {
    --primary-text: #ffaa00;
    --primary-bg: white;

    --secondary-text: black;
    --secondary-bg: black;

    --header-bg: white;
    --news-bg: white;
    --news: #black;
}

body {
    text-align: center;
    width: 100%;
    color: var(--secondary-text);
    background-color: var(--secondary-bg);
}

/* === REMOVING LINK STYLING === */
#title, #cardLink, #newsTitle, a, .currencyCard {
    text-decoration: none;
    color: inherit;
}

/* === HEADER, TITLE, SEARCHBAR === */
.header {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    color: var(--secondary-text);
    background-color: var(--header-bg);
}
#titleColor{
    font-size: 3rem;
    width: 100%;
    color: var(--primary-text);
    text-shadow: 1px 1px black;
}
.cryptoSearch {
    text-align: center;
    font-size: 2rem;
}

/* === TITLE, SEARCHBAR: HOVER === */
.cryptoSearch:hover {
    opacity: 75%;
}
#titleColor:hover {
    opacity: 75%;
}

/* === CRYPTO CARD COMPONENT === */
.cardContainer {
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
}
.cardDetailsContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
}
.currencyCard {
    width: 175px;
    margin: 30px;
    padding: 50px;
    border-radius: 10px;
    color: var(--secondary-text);
    background-color: var(--primary-bg);
    border: 7px solid black;
}
/* === CRYPTO CARD COMPONENT: HOVER === */
.currencyCard:hover {
    border: 12px solid var(--primary-text);
    transition: 400ms;
    padding: 45px;
}

/* === CRYPTO DETAILS COMPONENT === */
.currencyCardDetails {
    width: 25%;
    font-size: 1.5rem;
    margin: 35px auto 0px auto; 
    padding: 50px;
    border-radius: 10px;
    text-decoration: none;
    color: var(--secondary-text);
    background-color: var(--primary-bg);
}
#titleCryptoCard {
    background-image: url('https://user-images.githubusercontent.com/97872070/157295084-01267973-7427-4369-bae4-4cf916d5abe4.jpg');
}
#cardTitle {
    color: var(--primary);
    text-shadow: 1px 1px black;
}
#cryptoWebsite{
    font-size: 1.5rem;
}
#marketSummary {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    color:var(--primary-text);
}
#summaryTitle {
    color: var(--primary-text);
    font-size: 2rem;
}
#summaryText {
    font-size: 1.5rem;
    color: var(--primary-bg);
}
#positive {
    color: green;
}
#negative {
    color: red;
}

/* === NEWS COMPONENT === */
.newsContainer {
    background-color: var(--news-bg);
}
.newsCard {
    text-align: center;
}
#newsImg {
    width: 60%;
    margin-top: 50px;
}
#newsTitle {
    display:block;
    margin: 0px auto 30px auto;
    color: var(--news);
    width: 70%;
}
#mainNewsTitle {
    color: var(--news);
    font-size: 3rem;
    margin: 15px 0px 15px 0px;
}
/* === NEWS COMPONENT: HOVER === */
#newsImg:hover {
    width: 65%;
    transition: 500ms ease-in-out;
    transition-delay: 200ms;
}
#actualNewsTitle:hover {
    color: var(--primary-text);
}
